@tailwind base;

html {
  @apply font-body;
}

.headline-text {
  font-size: 8rem;
  line-height: 8.5rem;
}

@tailwind components;
@tailwind utilities;

.rotate-90 {
  transform: rotate(90deg);
  position: fixed;
  transform-origin: 100% 100%;
}

.rotate-270 {
  transform: rotate(270deg);
  position: fixed;
  left: -200px;
  bottom: 50;
}
